@model MobileStore.WebUI.Models.UserModel
@{
    <form asp-controller="MobilePhones" asp-action="Index" method="get">
        <div class="form-group">
            <div class="input-group">
                <input type="search" class="form-control"
                       asp-for="Name" />
                <select class="form-control"
                        asp-for="ManufacturerID" asp-items="Model.Manufacturers"></select>
                <input type="search" class="form-control"
                       asp-for="StartPrice" />
                <input type="search" class="form-control"
                       asp-for="EndPrice" />
                <span class="input-group-btn">
                    <button class="btn btn-default">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </span>
            </div>
        </div>
    </form>
}
